body {
  background-color: blue;
}
h1 {
  color: yellow;
  font-family: Arial;
}
p {
  color: white;
  font-family: Arial;
  <img src="i.png" alt="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD…/EXxbUjD7oopyQwQ/x84ooyCfvgvFFJOBjNFFFVBiiikm/9k="width="150" height="100">
}
